body {
    background-color: aquamarine;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.upper {
    display: flex;
    justify-content: center;
    gap: 10rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    background-color: burlywood;
    border: none;
    border-radius: 0.75rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
}

.counterStyle {
    border: 1px solid salmon;
    padding: 1rem;
}

.section-1 {
    border: 1px solid rgb(34, 127, 71);
    padding: 1rem;
}

.section-2 {
    border: 1px solid rgb(34, 127, 71);
    padding: 1rem;
}